name: selflog
description: Version control system for human decisions
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.18.1
  uuid: ^4.1.0
  shared_preferences: ^2.2.2
  flutter_animate: ^4.3.0

dev_dependencies:
  flutter_test:
  
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
